GOOGLE_API_KEY=AIzaSyCuSXRgKzpT5Rny_xKfYQYEkLWz6C5pN-o
GOOGLE_CX_ID=067029e9438194320
GEMINI_API_KEY=AIzaSyD5XbYFa4_tSM-a6Rnzg18Zx2bELCyw8_M
SUPABASE_URL=https://gxchsioikofxthggzfze.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4Y2hzaW9pa29meHRoZ2d6ZnplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5MzAzNTksImV4cCI6MjA3ODUwNjM1OX0.eDFnaG1lHFNJ3M4APVLFQREe-rUiSov1vwjU30pKIm8